archive/
etc/

.aws/

secrets
.Renviron

# dbt
dbt/

# zsh
.zcompdump*
.zsh_history

# jump
jump/.config/jump/scores.json
jump/.config/jump/search.json

# snowsql
snowsql/

# streamlit
streamlit/.streamlit/credentials.toml
