archive/
etc/

secrets

# dbt
dbt/

# zsh
.zcompdump*
.zsh_history

# jump
jump/.config/jump/scores.json
jump/.config/jump/search.json

# snowsql
snowsql/

# streamlit
streamlit/.streamlit/credentials.toml

# vscode
vscode/.config/Code/User/globalStorage/
vscode/.config/Code/User/History/
vscode/.config/Code/User/workspaceStorage/

# aws
awscli/

# lazygit
lazygit/.config/lazygit/state.yml

# tmux
tmux/.config/tmux/plugins

# R
R/.Renviron
