archive/
etc/

secrets

# dbt
dbt/

# zsh
.zcompdump*
.zsh_history

# jump
jump/.config/jump/pins.json
jump/.config/jump/scores.json
jump/.config/jump/search.json

# snowsql
snowsql/

# streamlit
streamlit/.streamlit/credentials.toml

# vscode
vscode/.config/Code/User/globalStorage/
vscode/.config/Code/User/History/
vscode/.config/Code/User/workspaceStorage/

# aws
awscli/

# lazygit
lazygit/.config/lazygit/state.yml

# tmux
tmux/.config/tmux/plugins

# R
R/.Renviron

# gcloud
gcloud/.config/gcloud/*
!gcloud/.config/gcloud/.default-cloud-sdk-components

# nvim-cmp-dict
nvim-cmp-dict/

# nushell
nushell/.config/nushell/history.txt

# zellij
zellij/.config/zellij/plugins

# nnn
nnn/.config/nnn/plugins*
